NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:4001/graphql

NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_CHAIN_NAME=Sepolia

NEXT_PUBLIC_PERMISSIONS_CONTRACT=
NEXT_PUBLIC_EXTENSION_MANAGER_CONTRACT=
NEXT_PUBLIC_LISTING_CONTRACT=
NEXT_PUBLIC_ROUTER_CONTRACT=
NEXT_PUBLIC_OFFER_CONTRACT=
NEXT_PUBLIC_AUCTION_CONTRACT=

NEXT_PUBLIC_RPC_ENDPOINT=
